.container {
  padding: 0 2rem;
  background: url("./background.png");
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.discordIconBox {
  display: inline-block;
  background:#7289DA;
  border-radius: 8px;
  padding: 0;
  height: 64px;
}

.discordIcon {
  margin: 0;
  filter: invert(1);
}

.socialBox {
  width: 100%;
  text-align: center;
}

.socialBox a {
  margin: 4px;
}

.video {
  flex: 1;
  max-width: 620px;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}